html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/images/back.jpg);
  background-size: 100%;
  color: #0fff9c;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  opacity: 0.75;
}

#feed-wrapper {
  margin-top: 30px;
}

.feed-item {
  background-size: cover;
  background-color: #f00;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  width: 100%;
}

.video {
  height: 350px;
  position: relative;
  width: 100%;
}

iframe {
  display: block;
  height: 350px;
  width: 100%;
}

.comment {
  background-color: rgba(1, 1, 1, 0.4);
  color: #fff;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 100;
}

.avatar-wrapper {
  background-color: rgba(15, 255, 156, 0.5);
  height: 100px;
}

.avatar-wrapper img {
  width: 100px;
  height: 100px;
  float: left;
}

.avatar-wrapper span {
  display: inline-block;
  padding-left: 10px;
  font-size: 2rem;
  font-weight: 100;
  color: #111;
  line-height: 6rem;
  float: left;
}