html, body {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/images/back.jpg);
  background-size: 100%;
  color: #0fff9c;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
  opacity: 0.75;
}